.clickable {
  cursor: pointer;
}

.icon_30 { height: 30px; width: 30px }
.icon_40 { height: 40px; width: 40px }
.icon_50 { height: 50px; width: 50px }
.icon_60 { height: 60px; width: 60px }
.icon_70 { height: 70px; width: 70px }
